<mat-tab-group class="sticky-top">
    <mat-tab label="Palindrome Checker"> 
        <app-palindrome-checker></app-palindrome-checker>
    </mat-tab>
    <mat-tab label="Roman Numeral Calculator"> 
        Content 2 
    </mat-tab>
    <mat-tab label="Caesar Cipher"> 
        <app-caesar-cipher></app-caesar-cipher>
    </mat-tab>
    <mat-tab label="Phone Validator"> 
        <app-phone-validator></app-phone-validator>
    </mat-tab>
    <mat-tab label="Cash Register"> 
        <app-cash-register></app-cash-register>
    </mat-tab>
</mat-tab-group>
